{block content}
<div class="jumbotron text-center">
  <h1>{$post->category_name}</h1>
  <p>
  {$post->created_at|date:'F. n. Y'}
  </p>
</div>
<div class="container">
    <h3 >{$post->content}</h3>

    <div style="float: right;" ><a n:href="Homepage:default" >← back to posts list</a></div>
</div>
{/block}
